@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem 0;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#app > div {
  min-height: 1px;
}

a {
  color: rgb(24, 103, 192);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
